<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="javascripts/bracket.js"> </script>
	
  </head>
  <body>
	<div id="nav">
	<ul>
	<li>	<img src='/images/logo2.png' ></img></li>
	<li><a href="/routes/dashboard_route"><h3>Home </h3></a></li>
	<li><a href=""><h3>News </h3></a></li>
	<li><a href=""><h3>Contact </h3></a></li>
	<li><a href=""><h3>About </h3></a></li>
	<li><a href="/routes/bracket_route"><h3>My Bracket </h3></a></li>
	</ul>
	</div>
	


	<!-- End of Yahoo! Finance code -->
	
  <div class="container">
	<div id="leftside">
   
	
	<h2>Welcome</h2>
	</div>
	<div id="rightside">
		
	
	</div>
  </div>
  </body>
</html>