<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type='text/javascript' src="/javascripts/dashboard.js"> </script>

	
  </head>
  <body>

	<div id="nav-top">
			<!-- <img src='/images/logo2.png' style="float:left; height:30px;"></img> -->

	<div id="nav">
		 <ul class="group" id="example-one">
			<li class="current_page_item"><a href="/routes/bracket_route">Account</a></li>
			<li><a href="javascript:IdeaPage()">Ideas</a></li>
			<li><a href="javascript:NewsPage()">News</a></li>
			<li >
				<a href="javascript:HomePage()">Home</a>
			</li>
		</ul>


			<!-- <a href="" style="align: right;"><h3 class="button_logout">Log Out</h3></a> -->
	</div> <!-- nav -->
	</div>
	<div id="nav-bottom"></div>


	<div id="logslideout" >
		<!-- <img src="/images/feedback.png" alt="Feedback" /> -->
		<div id="logslideout_inner" style="float:right">
				<ul>
					<li><a href="javascript:HomePage()">Dashboard</a></li>
					<li><a href="javascript:BracketPage()">My Bracket</a></li>
					<li><a href="/">Logout</a></li>
				</ul>
		</div>
	</div>
	


	<!-- End of Yahoo! Finance code -->
	<div id="dash_wrapper">
  <div id="dashboard_container">
	<div id="leftpane">
   		<h1>Welcome </h1>
		<p id="myname"></p>
	
	
		
	</div>
	<div id="middlepane">
		<h1>My Current Bracket </h1>
	
	</div>
	<div id="rightpane">
		<h2>My Watchlist</h2>
			<form id="stockstalker">
			  <input id="ts1" type="text" name="ts1"><br>
			  <input type="submit" value="Add">
			
			</form>
				
				<% for(var i=0; i<wordlist.length; i++) {%>
				   <p><a href="/routes/stock?stockname=<%=wordlist[i]%>"><%= wordlist[i] %></a></p>
				<% } %>
		
				
		
	</div>
	
  </div>
  </div>
  </body>
</html>