<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type='text/javascript' src="/javascripts/dashboard.js"> </script>
	
  </head>
  <body>
	<div id="nav">
	<ul>
	<li>	<img src='/images/logo2.png' ></img></li>
	<li><a href="/routes/dashboard_route"><h3>Home </h3></a></li>
	<li><a href=""><h3>News </h3></a></li>
	<li><a href=""><h3>Contact </h3></a></li>
	<li><a href=""><h3>About </h3></a></li>
	<li><a href="/routes/bracket_route"><h3>My Bracket </h3></a></li>
	</ul>
	</div>
	


	<!-- End of Yahoo! Finance code -->
	
  <div id="dashboard_container">
	<div id="leftpane">
   
	
	
		
	</div>
	<div id="middlepane">
		
	
	</div>
	<div id="rightpane">
		<h2>My Watchlist</h2>
			<form id="stockstalker">
			  <input id="ts1" type="text" name="ts1"><br>
			  <input type="submit" value="Add">
			
			</form>
				
				<% for(var i=0; i<wordlist.length; i++) {%>
				   <p><a href="/routes/stock?stockname=<%=wordlist[i]%>"><%= wordlist[i] %></a></p>
				<% } %>
				
		
	</div>
	
  </div>
  </body>
</html>