<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	
	<script type='text/javascript' src='/javascripts/ideascript.js'> </script>

  </head>
  <body>
	<div id="nav-top">
			<!-- <img src='/images/logo2.png' style="float:left; height:30px;"></img> -->

	<div id="nav">
		 <ul class="group" id="example-one">
			<li class="current_page_item"><a href="/routes/bracket_route">Account</a></li>
			<li><a href="javascript:IdeaPage()">Ideas</a></li>
			<li><a href="javascript:NewsPage()">News</a></li>
			<li >
				<a href="javascript:HomePage()">Home</a>
			</li>
		</ul>


			<!-- <a href="" style="align: right;"><h3 class="button_logout">Log Out</h3></a> -->
	</div> <!-- nav -->
	</div>
	<div id="nav-bottom"></div>


	<div id="logslideout" >
		<!-- <img src="/images/feedback.png" alt="Feedback" /> -->
		<div id="logslideout_inner" style="float:right">
				<ul>
					<li><a href="javascript:HomePage()">Dashboard</a></li>
					<li><a href="javascript:BracketPage()">My Bracket</a></li>
					<li><a href="/">Logout</a></li>
				</ul>
		</div>
	</div>


<div class="container">
    <form id="postform">
	 
		<div id="rightside">
		<p>Title:</p>
		<input id="posttitle" type="text" name="ts1"><br>
		<p>Body:</p>
		<textarea style="width:300px;height:300px" id="postbody"> </textarea>

		<input type="submit" value="Make Post">

		</div>

	<div id="idealist" style="width:400px; height:500px;float:left;text-align:left;" >

   	</div>

	
	
</div>
	
	</form>
  </body>
</html