<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type='text/javascript' src="javascripts/bracket.js"> </script>
	
  </head>
  <body>
	<div id="nav">
	<ul>
	<li><a href=""><h3>Home </h3></a></li>
	<li><a href=""><h3>News </h3></a></li>
	<li><a href=""><h3>Contact </h3></a></li>
	<li><a href=""><h3>About </h3></a></li>
	</ul>
	</div>
	

<!--	
	<script src="http://charts.wikinvest.com/wikinvest/wikichart/javascript/scripts.php" type="text/javascript"></script><div id="wikichartContainer_E457FC51-19AE-CCEA-7597-F2EBFF31B952"><div id="wikichartContainer_E457FC51-19AE-CCEA-7597-F2EBFF31B952_noFlash" style="width:500px; display:none;"><a href="http://get.adobe.com/flashplayer/"><img src="http://cdn.wikinvest.com/wikinvest/images/adobe_flash_logo.gif" alt="Flash" style="border-width: 0px;"/><br/>Flash Player 9 or higher is required to view the chart<br/><strong>Click here to download Flash Player now</strong></a></div></div><script type="text/javascript">if (typeof(embedWikichart) != "undefined") {embedWikichart("http://charts.wikinvest.com/WikiChartMini.swf","wikichartContainer_E457FC51-19AE-CCEA-7597-F2EBFF31B952","500","500",{"embedCodeDate":"2012-11-11","ticker":"NASDAQ:BAC"},{});}</script><div style="font-size:9px;text-align:right;width:500px;font-family:Verdana"><a href="http://www.wikinvest.com/chart/NASDAQ:BAC" style="text-decoration:underline; color:#0000ee;">View the full AAPL chart</a> at <a href="http://www.wikinvest.com/">Wikinvest</a></div>

-->

	<!-- End of Yahoo! Finance code -->
	
  <div class="container">
	<div id="leftside">
    <img src='/images/logo.png' ></img>
	<img src=''></img>
	<h2>Your one stop hub for stock market projections!</h2>
	</div>
	<div id="login">
		<form id="loginform">
		<h2>Username:<h2> <input type="text" name="username"><br>
		<h2>Password:<h2> <input type="text" name="password">
		</form>
	<h1> <a href="/routes/dashboard_route">Login</a> </h1>
	</div>
  </div>
  </body>
</html>