<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type='text/javascript' src="javascripts/bracket.js"> </script>
	
  </head>
  <body>
	<div id="nav">
	<ul>
	<li><a href=""><h3>Home </h3></a></li>
	<li><a href=""><h3>News </h3></a></li>
	<li><a href=""><h3>Discussion </h3></a></li>
	<li><a href=""><h3>Ranking </h3></a></li>
	</ul>
	</div>
	



	<!-- End of Yahoo! Finance code -->
	
  <div class="container">
	<div id="leftside">
    <img src='/images/logo.png' ></img>
	<img src=''></img>
	<h2>Your one stop hub for stock market projections!</h2>
	</div>
	<div id="login">
		<form id="loginform">
		<h2>Username:<h2> <input type="text" name="username"><br>
		<h2>Password:<h2> <input type="text" name="password">
		</form>
	<h1> <a href="/routes/dashboard_route">Login</a> </h1>
	</div>
  </div>
  </body>
</html>