<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type='text/javascript' src="/javascripts/sign.js"> </script>
	
  </head>
  <body>
	<div id="nav">
	<ul>
	<li>	<img src='/images/logo2.png' ></img></li>
	<li><a href="javascript:HomePage()"><h3>Home </h3></a></li>
	<li><a href=""><h3>News </h3></a></li>
	<li><a href=""><h3>Contact </h3></a></li>
	<li><a href="javascript:IdeaPage()"><h3>Ideas </h3></a></li>
	<li><a href="javascript:BracketPage()"><h3>My Bracket </h3></a></li>
	</ul>
	</div>
	



	<!-- End of Yahoo! Finance code -->
	
  <div class="container">
	
	<div id="login">
		<form id="signupform">
		<h2>Email:<h2> <input id="emailbox" type="text" name="username"><br>
		<h2>Username:<h2> <input id="usernamebox" type="text" name="username"><br>
		<h2>Password:<h2> <input id="passwordbox" type="text" name="password">
		<input type="submit" value="Submit">
		</form>


	</div>
	
	<div id="rightside">
    <h1>Sign up its free!</h1>
	</div>
  </div>
  </body>
</html>