<!DOCTYPE html>
<html>
  <head>
    <title><%= stock %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type='text/javascript' src="/javascripts/stockrender.js"> </script>
	
  </head>
  <body>
	
	<div id="nav-top">
			<!-- <img src='/images/logo2.png' style="float:left; height:30px;"></img> -->

	<div id="nav">
		 <ul class="group" id="example-one">
			<li class="current_page_item"><a href="/routes/bracket_route">Account</a></li>
			<li><a href="javascript:IdeaPage()">Idea</a></li>
			<li><a href="javascript:NewsPage()">News</a></li>
			<li >
				<a href="javascript:HomePage()">Home</a>
			</li>
		</ul>


			<!-- <a href="" style="align: right;"><h3 class="button_logout">Log Out</h3></a> -->
	</div> <!-- nav -->
	</div>
	<div id="nav-bottom"></div>
	

	<div id="logslideout" >
		<!-- <img src="/images/feedback.png" alt="Feedback" /> -->
		<div id="logslideout_inner" style="float:right">
				<ul>
					<li><a href="javascript:HomePage()">Dashboard</a></li>
					<li><a href="javascript:BracketPage()">My Bracket</a></li>
					<li><a href="/">Logout</a></li>
				</ul>
		</div>
	</div>
	




	  <div id="dash_wrapper">
	  <div id="dashboard_container">
	<div id="leftpane">

   <h1 id="stockname"> </h1>
	<p><b>Price:</b></p>
	<div id="LastArea">
		
	</div>
	<p><b>Percent Change:</b></p>
	<div id="ChangeArea">
		
	</div>
	<p><b>Volume:</b></p>
	<div id="VolumeArea">
		
	</div>
	<p><b>Market Cap:</b></p>
	<div id="MarketCap">
		
	</div>
	<p><b>Percent Change YTD:</b></p>

	<div id="ChangeYTD">
		
	</div>
	
		
	</div>
	<div id="stockpane">
				<script src="http://charts.wikinvest.com/wikinvest/wikichart/javascript/scripts.php" type="text/javascript"></script><div id="wikichartContainer_EB38192F-6843-1376-FB2C-003EC9F3ED9E"><div style="width: 570px; text-align: center; vertical-align: center; margin-top: 82px;"><a href="http://get.adobe.com/flashplayer/"><img src="http://cdn.wikinvest.com/wikinvest/images/adobe_flash_logo.gif" alt="Flash" style="border-width: 0px;"/><br/>Flash Player 9 or higher is required to view the chart<br/><strong>Click here to download Flash Player now</strong></a></div></div><script type="text/javascript">if (typeof(embedWikichart) != "undefined") {embedWikichart("http://charts.wikinvest.com/WikiChartMini.swf","wikichartContainer_EB38192F-6843-1376-FB2C-003EC9F3ED9E","400","365",{"showAnnotations":"true","liveQuote":"true","embedCodeDate":"2012-11-14","rollingDate":"5 days","ticker":"<%=stock%>"},{});}</script><div style="font-size:9px;text-align:right;width:570px;font-family:Verdana"><a href="http://www.wikinvest.com/chart/<%= stock %>" style="text-decoration:underline; color:#0000ee;">View the full <%= stock %> chart</a> at <a href="http://www.wikinvest.com/">Wikinvest</a></div>
	</div>
	<div id="rightpane">

		<h1>Twitter Talk</h1>		
		
	</div>
	
  </div>
  </div>
  </body>
</html>