body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.stockblock {
 
  background-color:#E8E8E8;
  border-width: 4px; 
  border-style: double; 
  border-color: #99CCFF; 
  width:300px;
  }
  
.stocksubmit{
  height: 200px; 
  width: 100px;
  
}


#leftside { 
  width: 400px;  float: left;
  
  }
  
  
#rightside { 
  width: 400px; float: left;
  }
  
  #login { 
    width: 400px; float: left;
    background-color:#E8E8E8;
    }

.container {
  display: inline-block;
  
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
	
#nav li {
	float: left; }
	
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
	
	ul{
	  list-style: none;
  }
	